<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Usuarios</h4>

                <table class="table table-hover" *ngIf=" usuarios.length > 0">
                    <tbody>
                        <tr *ngFor="let usuario of usuarios" [routerLink]="['/usuarios']">
                            <td><img [src]="usuario.img | imagen" class="img-50 img-circle"></td>
                            <td>{{ usuario.nombre }}</td>
                        </tr>
                    </tbody>
                </table>

                <div class="alert alert-info" *ngIf=" usuarios.length === 0 ">
                    No hay registros
                </div>

            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Productos</h4>

                <table class="table table-hover" *ngIf=" productos.length > 0">
                    <tbody>
                        <tr *ngFor="let producto of productos" [routerLink]="['/productos']">
                            <td><img [src]="producto.img | imagen" class="img-50 img-circle"></td>
                            <td>{{producto.nombre}}</td>

                        </tr>
                    </tbody>
                </table>

                <div class="alert alert-info" *ngIf=" productos.length === 0 ">
                    No hay registros
                </div>

            </div>
        </div>
    </div>
</div>