<div class="row animated fadeIn">
    <div class="col-lg-7">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Perfil de usuario</h4>
                <h6 class="card-subtitle">{{usuario.nombre}}</h6>

                <form ngNativeValidate #f="ngForm" (ngSubmit)="guardar( f.value )" class="form p-t-20">
                    <div class="form-group">
                        <label for="exampleInputuname">Nombre de usuario</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input [ngModel]="usuario.nombre" name="nombre" type="text" class="form-control" placeholder="Nombre de usuario" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Correo de usuario</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-email"></i></div>
                            <input [ngModel]="usuario.email" [disabled]="usuario.google" name="email" type="email" class="form-control" placeholder="Correo de usuario" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail1">Ciudad</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fas fa-city"></i></div>
                            <input [(ngModel)]="usuario.ciudad" name="ciudad" type="text" class="form-control" placeholder="Ciudad" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail1">Pais</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fas fa-globe-americas"></i></div>
                            <input [(ngModel)]="usuario.pais" name="pais" type="text" class="form-control" placeholder="Pais" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail1">Fecha de nacimiento</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fas fa-table"></i></div>
                            <input [ngModel]="fecha" name="fecha" type="text" class="form-control mydatepicker" id="datepicker" placeholder="dd/mm/yyyy">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail1">Genero</label>
                        <div class="input-group">
                            <div class="input-group-addon">

                                <i class="fa fa-male"></i>

                            </div>
                            <select class="form-control" [(ngModel)]="genero" name="genero">
                             <option [selected]="genero" *ngFor="let genero of generos"> {{ genero }}</option>
                        </select>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-success waves-effect waves-light m-r-10"><i class="fa fa-save"></i> Guardar</button>

                </form>
            </div>
        </div>
    </div>

    <div class="col-lg-5">
        <div class="card">
            <div class="card-body" *ngIf="!_usuarioService.ImagenCargado">
                <h4 class="card-title">Foto de usuario</h4>
                <h6 class="card-subtitle">{{usuario.nombre}}</h6>
                <img *ngIf="!imagenTemp" [src]="usuario.img | imagen" class="w150">
                <img *ngIf="imagenTemp" [src]="imagenTemp" class="w150">

                <input (change)="seleccionImage( $event.target.files[0] )" type="file">

                <br>
                <br>
                <button (click)="canbiarImagen()" [disabled]="!imagenSubir" type="button" class="btn btn-success waves-effect waves-light m-r-10"><i class="fa fa-save"></i> Actualizar foto</button>
                <br>
            </div>


        </div>
        <div class="wrapper" *ngIf="_usuarioService.ImagenCargado">
            <div id="preloader_4">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

    </div>

</div>


<div class="row">

    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Votos por genero</h4>

                <canvas baseChart [datasets]="radarChartData" [labels]="radarChartLabels" [chartType]="radarChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>

            </div>
        </div>
    </div>

    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Votos por nota</h4>

                <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>


                <button (click)="randomizeType()" style="display: inline-block" class="btn">Toggle</button>

            </div>
        </div>
    </div>


</div>