<div class="row principal" [@pronuevos]='productos.length' [@propopulares]='productospop.length' [@protop]='productostop.length'>

    <h2 class="col-sm-12">Ultimos productos</h2>
    <div class="column fadeIn animated" *ngFor="let producto of productos">
        <div class="card" (click)=navegarProducto(producto._id)>
            <img class="" [src]="producto.img | imagen" alt="Card image cap">
            <div class="cuerpo">
                <h4><b> <h5> {{ producto.nombre }} </h5> </b></h4>

                <div class="stars-outer">
                    <div class="stars-inner" [ngStyle]="{'width':getColor(producto)}"></div>
                </div>

            </div>
        </div>
    </div>

    <h2 class="col-sm-12">Productos populares</h2>
    <div class="column  fadeIn animated" *ngFor="let producto of productospop">
        <div class="card" (click)=navegarProducto(producto._id)>
            <img class="" [src]="producto.img | imagen" alt="Card image cap">
            <div class="cuerpo">
                <h4><b> <h5> {{ producto.nombre }} </h5> </b></h4>

                <div class="stars-outer">
                    <div class="stars-inner" [ngStyle]="{'width':getColor(producto)}"></div>
                </div>

            </div>
        </div>
    </div>

    <h2 class="col-sm-12">Top productos</h2>
    <div class="column  fadeIn animated" *ngFor="let producto of productostop">
        <div class="card" (click)=navegarProducto(producto._id)>
            <img class="" [src]="producto.img | imagen" alt="Card image cap">
            <div class="cuerpo">
                <h4><b> <h5> {{ producto.nombre }} </h5> </b></h4>
                <div class="stars-outer">
                    <div class="stars-inner" [ngStyle]="{'width':getColor(producto)}"></div>
                </div>
            </div>
        </div>
    </div>

</div>


<!--
    
<div class="card" *ngFor="let productos of productos">
             
            <div class="card-body">

                <div class="row">

                    <div class="col">

                        <h5> {{ productos.nombre }} </h5>
                    </div>



                    <div class="col">

                        <h5> {{ productos.notamedia }} </h5>
                    </div>

                </div>

            </div>
        </div>

-->