<div class="row principal">

    <h2 class="col-sm-12">Ultimos productos</h2>
    <div class="column fadeIn animated" *ngFor="let producto of productos">
        <div class="card" (click)=navegarProducto(producto._id)>
            <img class="" [src]="producto.img | imagen" alt="Card image cap">
            <div class="cuerpo">
                <h4><b> <h5> {{ producto.nombre }} </h5> </b></h4>

                <div class="stars-outer">
                    <div class="stars-inner" [ngStyle]="{'width':getColor(producto)}"></div>
                </div>

            </div>
        </div>
    </div>

</div>